/*********************************
         BOX STYLES
*********************************/

#box {
  background: rgba(245, 245, 255, .9);
  height: calc(100vh - 10%);
  width: calc(100vw - 10%);
  padding: 0;
  margin-top: calc(5vh);
}
