/*********************************
       Empire Image
*********************************/

#empire {
  background-image: url('/portfolio/projects/me-parra.png');
  padding: 0;
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  #black-over {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: rgba(28, 27, 32, 0.6);
  }
}
