/*********************************
     Intro Section Styles
*********************************/
#intro {
    background: #515cff;
    height: calc(100vh - 5vw);
    padding: 0;
    width: 50%;

    #intro-box {
        .intro-text {
            font-size: calc(16vh + 10px);
            margin: 0;
            font-family: 'Francois One', sans-serif;
            color: #1c1b20;
        }
    }

    #intro-box-left {
      position: absolute;
        left:50%;
        margin: 0;
        text-align: center;
        visibility: hidden;
        opacity: 0;

        #intro-left-title {
            font-size: calc(3vw + 5px);
            font-family: 'Francois One', sans-serif;
            margin: 0;
            color: black;
        }

        #left-break {
            width: 80%;
        }

        #intro-left-text {
            font-size: calc(3vw);
            font-family: 'Francois One', sans-serif;
            margin-top: 5px;
            color: white;
        }
    }

    .scroll-bounce {
        transform: rotate(270deg);
        transform-origin: left top 0;
        position: absolute;
        bottom: 0;
        left: 95%;
        width: 60px;
        color: white;
        font-family: 'Muli', sans-serif;
        font-size: 13px;

        #intro-arrow {
            margin: 5px;
            position: relative;
            top: 2px;
        }
    }

    .scroll-bounce-left {
        transform: rotate(270deg);
        transform-origin: left top 0;
        position: fixed;
        bottom: 5px;
        left: calc(5vw + 5px);
        width: 60px;
        color: black;
        font-family: 'Muli', sans-serif;
        z-index: 999;
        font-size: 12px;

        #intro-arrow {
            margin: 5px;
            position: relative;
            top: 2px;
        }
    }

    .scroll-bounce-right {
        transform: rotate(90deg);
        transform-origin: left top 0;
        position: fixed;
        bottom: 50px;
        right: calc(2vw + 5px);
        width: 60px;
        color: black;
        font-family: 'Muli', sans-serif;
        z-index: 999;
        font-size: 12px;

        a {
            text-decoration: none;
            color: black;

            #intro-arrow {
                margin: 5px;
                position: relative;
                top: 2px;
            }
        }
    }
}
