/*****************
    MENU LIST
*****************/
#menu {
    #menu-list {
        list-style-type: none;

        .menu-item {
            font-size: calc(2vw + 12px);
            font-family: 'Ramabhadra', sans-serif;
            opacity: 0;

            .menu-item-link {
                text-decoration: none;
                color: #1c1b20;
            }

            .menu-item-link:hover {
                transition: all 0.2s linear;
                color: lightgrey;
            }
        }
    }

    #more-info {
        margin: 30px 0;
        font-size: 14px;
        opacity: 0;
        top: 30px;

        #address {
            font-size: 13px;
            text-decoration: none;
            color: #1c1b20;
        }
    }

    #extra {
        margin: 30px 0;
        opacity: 0;
        top: 30px;

        .cs-font-header {
            font-size: 30px;
            color: #1c1b20;
            margin-top: 2px;
            position: relative;
            right: 30px;

            #thin-arrow {
                position: relative;
                right: 50px;
            }
        }
    }
}
