/*****************
    Nav Styles
*****************/
.nav-wrapper {
    position: fixed;
    min-height: 100vh;
    background: white;
    width: 5vw;
    z-index: 990;
    left: 0;

    #nav-btn {
        z-index: 999;
        height: 50px;
        width: 50px;
        cursor: pointer;
        transform: rotate(270deg);
        text-align: center;
        padding-top: 25px;
        font-size: 13px;
        font-family: 'Ramabhadra', sans-serif;
        color: #1c1b20;
    }
    #nav-btn:hover {
        transition: all .2s linear;
        font-size: 18px;
        font-weight: 500;
    }
    #nav {
        position: fixed;
        background: white;
        z-index: 990;
        height: calc(100vh - 10%);
        padding: 0;

        .blue {
            height: calc(100vh - 10%);
            width: 10px;
            background: #515cff;
            right: 50px;
            position: absolute;
            opacity: 0;
        }
    }
}

.nav-grow {
    transition: all 0.2s ease-in;
    width: calc(100vw - 10%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.nav-shrink {
    transition: all 0.2s ease-in;
    width: calc(100vw - 90%) !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
