/*********************************
       Section A Styles
*********************************/
#sectionA {
    width: 100%;
    background: #f8f8f8;

    .sectionA-header {
        margin-top: calc(20vh + 10px);
        line-height: calc(7vh + 10px);
        opacity: 0.01;
        position: relative;
        right: 70%;
        visibility: hidden;

        .sa-header-text {
            font-size: calc(8vw + 5px);
            font-family: 'Ramabhadra', sans-serif;
            color: #1c1b20;
        }
    }

    #sa-paragraph {
        margin-top: calc(9vh + 5px);
        max-width: 350px;
        opacity: 0.01;
        position: relative;
        right: 70%;
        visibility: hidden;

        #sa-para-title {
            font-size: calc(3vw + 5px);
            font-family: 'Ropa Sans', sans-serif;
            color: #1c1b20;
        }

        #sa-para-content {
            font-size: calc(1vw);
            font-weight: 300;
            margin-top: calc(3vh + 8px);
            text-align: justify;
            font-family: 'Ropa Sans', sans-serif;
            font-size: calc(1vw + 2px);
            line-height: calc(1vw + 10px);
        }
    }

    #what-we-do {
        background: #1c1b20;
        height: 600px;
        position: absolute;
        right: 0;
        bottom: -2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .what-we-do-list {
            list-style-type: none;
            position: relative;

            .what-title {
                color: white;
                font-size: calc(1vw + 2px);
                padding-bottom: 2em;
                padding-top: 1em;
                font-family: 'Ropa Sans', sans-serif;
            }

            .what-list-item {
                color: darkgray;
                font-family: 'Ropa Sans', sans-serif;
                font-size: calc(1vw + -1px);
                line-height: calc(1vw + 10px);
            }
        }
    }
}
