/************************
    Home Page Styles
************************/
#home {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;

    #top-white {
        width: 98%;
        position: fixed;
        top: 0;
        background: white;
        height: calc(5vh);
        z-index: 991;

        #brand {
            display: block;
            position: fixed;
            top: calc(1vh + 2px);
            left: calc(4vw + 12px);
        }
    }

    #logo {
        width: 200px;
    }

    .social-bar {
        position: absolute;
        right: 0;
        height: 100%;
        background: white;
        width: calc(4vw + 3px);
        z-index: 999;

        #social-list {
            position: fixed;
            right: calc(2vw - 1px);
            list-style-type: none;
            top: 50%;
            transform: translateY(-50%);

            .social-list-item {
                font-size: 17px;
            }
        }
    }

    #white {
        width: 100%;
        position: fixed;
        bottom: 0;
        background: white;
        height: calc(5vh);
        z-index: 999;
    }
}

.no-scroll {
  overflow: hidden;
}
.show-scroll {
  overflow: visible;
}
