.animated {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(-12px);
    }
}
@keyframes bounce {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-12px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
